#passwordgen {
    line-height: 1.5em;
    margin: 1em 0;
}
#passwordgen span {
    display: inline-block;
    margin: 0 0.5em;
    padding: 5px 15px;
    border: 1px solid #313131;
    background-image: linear-gradient(bottom, #b1b1b1 0%, #e4e4e4 100%);
    background-image: linear-gradient(to bottom, #e4e4e4 0%, #b1b1b1 100%);
    background-color: #CCCCCC;
    color: #313131;
    text-shadow: 1px 1px 0px #e4e4e4;
    text-decoration:none;
    border-radius:5px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
}
#passwordgen span:first-child {
    margin-left: 0;
}
#passwordgen span:last-child {
    margin-right: 0;
}

